@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Mono:wght@400;700&display=swap');

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: inherit;
}
body {
  margin: 0 0 60px;
  background-color: #f9fdff;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 500;
  color: #06273b;
}


.report {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 600px;
  height: 100%;
}

.react-pdf__Page__canvas {
    margin: 0 auto;
    width: 80% !important;
    height: 100% !important;
}

/* Type */
h1, h2, h3, h4 {
  font-family: 'Bebas Neue', 'sans-serif';
}
h1 {
  margin: 6rem 0 1rem;
  font-size: 4.5rem;
}
h2 {
  margin: 0;
  font-size: 2.8rem;
  line-height: 1.2;
}


p {
  margin: 1.2rem 0;
}
a {
  color: #06273b;
  text-decoration: none;
  box-shadow: inset 0 -5px 0 0 rgba(255, 89, 94, 0.6);
  transition: box-shadow 0.2s ease-out;
}
a:hover, a:focus {
  box-shadow: inset 0 -18px 0 0 rgba(255, 89, 94, 0.6);
  transition-timing-function: ease-in;
}

/* loading */
.loading {
  margin: 6rem 0 1rem;
}

/* source */
.source {
  margin: 4rem 0 2rem;
}

.game-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(40, 38, 23, 0.95);
  animation: pop-in 0.5s cubic-bezier(0.68, -0.55, 0.65, 0.52) forwards;
}

.page {
  display: flex;
  flex-wrap:wrap;
  /* height: calc( 100vh - 30px); */
  /* calculate the height. Header is 30px */
}

.sidebar{
  width: 200px;
}

.content {
  background-color: #fff;
  flex: 1 0 auto;
  /* enable grow, disable shrink */
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
  grid-auto-rows: minmax(100px, auto);
  place-items: center;
  justify-content: center; 
}

.one {
  place-self: center;
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  max-width: 700px;
}

.two {
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  max-width: 700px;
}

.link {
  stroke: #999;
}

.node {
  stroke: #999;
  stroke-width: 1;
}

/* Map container */
.map-container {
  position: relative;
  border: 1px solid #09131b;
  overflow: hidden;
}

/* Map reset */
#map-reset {
  position: absolute;
  top: 50;
  right: 15px;
  height: 40px;
  padding: 0 20px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #f8fcff;
  background-color: #35a7c2;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 250ms ease, opacity 250ms ease;
}
#map-reset.hidden {
  opacity: 0;
  pointer-events: none;
}
#map-reset:hover,
#map-reset:focus {
  background-color: #207ab5;
}
@media screen and (max-width: 768px) {
  #map-reset {
    top: 0;
    right: 0;
    padding: 0 10px;
  }
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.fixed{
  stroke: rebeccapurple;
  stroke-width: 2 ;

}